@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
  }
  
  h1 {
    font-family: my-cool-font, sans-serif;
  }
  
.main{
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
}

.left{
  
}

.right{
  display: flex;
  justify-content: center;
}